.container{
    text-align: center;
    margin-top: 200px;
}

.btn{
    padding: 5px 6px;
    border-radius: 8px;
    margin-right: 10px;
    color: white;
}

.btn:hover{
    box-shadow: 2px 4px 5px black;
    cursor: pointer;
}
#increaseBtn{
    background-color: lime;
    border: none;
}

#decreaseBtn{
    background-color: red;
    border: none;
}

#runBtn{
    background-color: aqua;
    border: none;
}

#runBtn2{
    background-color: blue;
    border: none;
}

#resetBtn{
    background-color: gray;
    border: none;
    margin-top: 10px;
}

@media(max-width:600px){
    #resetBtn{
        position: relative;
        top: 20px;
        right: -4px;
    }
}